body
{
	background-image: url("../Img/fondo.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	font-family: Arial;
}
table, th, td
{
	border: 1px solid black;
}
h1,h2 
{
	width: 400px;
	background-color: rgb(249,175,145);
	color: rgb(223,75,13);
}
h2
{
	width: 350px;
}
.Logo
{
	display: block;
	width: 150px;
	height: 150px;
	float: right;
}
tr
{
	background-color: rgb(223,75,13);
}
tr:nth-child(even) 
{
    background-color: rgb(252,157,112);
}
